<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Looking for Work</title>
  </head>
  <body>

{{#users}}
    <ul>
      <li>{{users}}</li>
      <u/l>
    {{/users}}

  </body>
</html>
