<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Looking</title>
      <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
  </form>
    <ul id = "users">
      {{#looking}}
      <li>
      <a href="/user/{{username}}">
        <img src="{{avatar}}" />
        <span class = "name">{{name}}</span>
        <span class = "position"> {{job}}</span>
      {{#company}}
        <span class = "company"> {{company}}</span>
      {{/company}}
        {{^company}}<span class = "null" style= color:red>Available for Hire</span>
        {{/company}}
      </a>
      </li>
      {{/looking}}
    </ul>
  </body>
</html>
