<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserPage</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body id = useBody>

  <div id ="container">
    <a href="/user/{{username}}">
      <img src="{{avatar}}" />
      <span class = "username">{{name}}</span>
      <span class = "position"> {{job}} </span>
      <span class = "company"> {{company}}</span>
      <span class = "email"> {{email}}</span>
      <span class = "phone"> {{phone}}</span>
  </div>
  <div id = "skillsEdu"
      <span class = "school"> Education:  {{university}}</span>
      <span class = "skills"> Skills: {{skills}} </span>
  </div>
  </a>


  </body>
</html>
