<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UserPage</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body id = useBody>

  <div id ="container">
    <a id = "link" href ="/user/{{username}}">
      <img id= "userPic" src="{{avatar}}" />
      <span class = "username">{{name}}</span><br>
    {{#address.city}}
      <span class = "city">{{address.city}},</span>
    {{/address.city}}
      {{^address.city}}<span class = "missing"></span>
    {{/address.city}}
      <span class = "country">{{address.country}} |</span>
  {{#job}}
      <span class = "position"> {{job}} </span>
  {{/job}}
      {{^job}}<span class="missing" style = color:red>Available for Hire</span>
  {{/job}}
      <span class = "company"> {{company}}</span><br>
      <span class = "email"> {{email}} | </span>
      <span class = "phone"> {{phone}}</span>
  </div>
      <table id = "skillsEdu">
        {{#university}}
        <tr>
          <td class = "header"> <b>Education:</td>
            <td>
              {{university}}
          </td>
        </tr>
        {{/university}}
        <tr>
          <td class = "header"><b>Skills:</td>
        <td>
              {{#skills}}
              {{.}}<br>
              {{/skills}}
        </td>
       </tr>
      </table>
  </div>
  </a>
  </body>
</html>
