html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: gray;
}

#users {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 20px;
}

#users li{
  width:200px;
  border: solid 1px rgb(179,191,201);
  padding: 10px;
  margin: 10px;
}

#users span {
  display: block;
}
.name {
  font-size: 20px;
  color: rgb(56, 116, 203);
}

/* users */
#useBody{
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 30px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  width: 800px;


}
#skillsEdu{
  width: 500px;

}
#userPic{
  border-radius: 50%;
  border: rgb(223,223,223) solid 1px;

}
.username {
  font-size: 50px;
  color: rgb(56, 116, 203);
}
ul{
  list-style-type: none;
}
